//fonts
@font-face {
  font-family: 'Inter-Bold';
  src: local('Inter-Bold'), local('Inter-Bold'), url('../fonts/Inter-Bold.woff2') format('woff2'), url('../fonts/Inter-Bold.woff') format('woff'), url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Medium';
  src: local('Inter-Medium'), local('Inter-Medium'), url('../fonts/Inter-Medium.woff2') format('woff2'), url('../fonts/Inter-Medium.woff') format('woff'), url('../fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Regular';
  src: local('Inter-Regular'), local('Inter-Regular'), url('../fonts/Inter-Regular.woff2') format('woff2'), url('../fonts/Inter-Regular.woff') format('woff'), url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: local('Inter-SemiBold'), local('Inter-Medium'), url('../fonts/Inter-SemiBold.woff2') format('woff2'), url('../fonts/Inter-SemiBold.woff') format('woff'), url('../fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
select:focus, input:focus, select:hover, input:hover {
  outline: none;
  border:none;
  box-shadow: none;
}

//variables

$acc-color1: #2ED47A;
$acc-color2: #F7685B;
$acc-color3: #109CF1;
$body-color: #192A3E;
$body-color-gray: #EBEFF2;


body {
  width: 100vw;
  min-height: 100vh;
  font-size: 16px;
  color: $body-color;
  background-color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: #252733;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a:hover {
  color: $acc-color3;
}

a.logo {
  font-size: 25px;
  font-family: "Inter-Bold", sans-serif;
}

a.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Inter-Medium', sans-serif;
  color: white;
  height: 22px;
  background-color: $acc-color1;
  padding: 5px 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  border-radius: 4px;
}

h1 {
  font-family: 'Inter-Medium', sans-serif;
  color: white;
  font-size: 24px;
  font-weight: normal;
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  .header__top, .header__main {
    width: 100%;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header__main {
    background: rgb(63,195,217);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #3fc3d9), color-stop(50%, #57b7f2), to(rgb(46, 212, 122)));
    background: -o-linear-gradient(top, #3fc3d9 30%, #57b7f2 50%, rgb(46, 212, 122) 100%);
    background: linear-gradient(180deg, #3fc3d9 30%, #57b7f2 50%, rgb(46, 212, 122) 100%);
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    a {
      color: white;
      &:hover {
        color: #F7685B;
      }
    }
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
    a {
      margin-left: 15px;
    }
  }
}
.wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
  max-width: 900px;
  margin: auto;
  &.wrapper-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.search-box {
  width: 45%;
  min-width: 300px;
  .search__container {
    position: relative;
    width: 100%;
    button.search {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
      transform: translate(50%, -50%);
      width: 25px;
      height: 25px;
      background-color: transparent;
      outline: none;
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: $body-color;
    }
    .search__input {
      width: 100%;
      padding: 12px 24px;
      padding-right: 0;
      font-size: 14px;
      line-height: 18px;
      color: $body-color;
      background-color: transparent;
      border-radius: 50px;
      border: 1px solid $body-color;
      -webkit-transition: all 250ms ease-in-out;
      -o-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      &::-webkit-input-placeholder {
        color: rgba(87, 87, 86, 0.8);
        font-family: 'Avante', sans-serif;
      }
      &::-moz-placeholder {
        color: rgba(87, 87, 86, 0.8);
        font-family: 'Avante', sans-serif;
      }
      &:-ms-input-placeholder {
        color: rgba(87, 87, 86, 0.8);
        font-family: 'Avante', sans-serif;
      }
      &::-ms-input-placeholder {
        color: rgba(87, 87, 86, 0.8);
        font-family: 'Avante', sans-serif;
      }
      &::placeholder {
        color: rgba(87, 87, 86, 0.8);
        font-family: 'Avante', sans-serif;
      }
    }
    .search__input:hover,
    .search__input:focus {
      padding: 12px 0;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid $acc-color3;
      border-radius: 0;
      background-position: 100% center;
    }
  }
}
.select__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Inter-Medium", sans-serif;
  select {
    width: 100px;
    padding: 12px;
    padding-right: 0;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid #575756;
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    option {
      padding: 10px 0;
    }
  }
  label {
    margin-right: 10px;
  }
}
li.dropdown {
  position: relative;
  svg {
    -webkit-transform: translate(5px, -3px);
    -ms-transform: translate(5px, -3px);
    transform: translate(5px, -3px);
  }
}
ul.dropdown-menu{
  position: absolute;
  min-width: 120px;
  background: rgb(63,195,217);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #3fc3d9), color-stop(50%, #57b7f2), to(rgb(46, 212, 122)));
  background: -o-linear-gradient(top, #3fc3d9 30%, #57b7f2 50%, rgb(46, 212, 122) 100%);
  background: linear-gradient(180deg, #3fc3d9 30%, #57b7f2 50%, rgb(46, 212, 122) 100%);
  border-radius: 4px;
  margin-top: 5px;
}
ul.dropdown-menu li{
  display: block !important;
  white-space: nowrap;
  margin: 10px 0;
}
ul.dropdown-menu ul.dropdown-menu{
  left: 100%;
  top: 0;
  background-color: $acc-color3 !important;
}
ul.dropdown-menu{
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 70px auto;
  width: 100%;
}
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 4px;
  overflow: hidden;
  width: 45%;
  min-width: 320px;
  height: 240px;
  -webkit-box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  border: 1px solid $body-color-gray;
  margin-bottom: 20px;
  .header {
    width: 100%;
    height: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: $body-color;
    text-align: left;
    font-family: 'Inter-Medium', sans-serif;
    font-size: 18px;
    border-bottom: 1px solid $body-color-gray;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: calc(100% - 55px);
    color: $acc-color3;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 22px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    img {
      width: 85%;
    }
  }
}
.list-group {
  width: 48%;
  min-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  &.w-100 {
    width: 100%;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 70px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .list-group__item {
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid $body-color-gray;
    border-bottom: 1px solid $body-color-gray;
    border-left: 3px solid $acc-color2 ;
    &:nth-child(odd) {
      border-left: 3px solid #FFB946;
    }
    &:nth-child(3n) {
      border-left: 3px solid $acc-color1;
    }
    .tr {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 14px;
      width: 100%;
      height: 20px;
      span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-right: 15px;
        width: 48%;
        font-family: 'Inter-Medium', sans-serif;
        color: $acc-color3;
        a.text-link {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          margin-left: 15px;
        }
      }
    }
  }
}
.text-link:hover {
  text-decoration: underline;
  color: $acc-color2;
}
.flex-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}


@media screen and (max-width: 990px) {
  .list-group {
    width: 100%;
    min-width: auto;
  }
}

@media screen and (max-width: 680px) {
  header {
    .header__top {
      height: auto;
      padding: 15px 0;
      .wrapper.wrapper-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
      }
    }
  }

  .search-box {
    width: 95%;
    margin-top: 10px;
  }
  .select__container {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  .card {
    width: 100%;
  }
}
